*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: blue;
    font-size: 1rem;
}

.hero-heading{
    text-align: center;
}

.form{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

input + label{
    margin-right: 2rem;
    font-weight: 600;
}

input[type='radio']{
    width: 20px;
    aspect-ratio: 1;
}
.levels_container{
    display:  flex;
    align-items: center;
}
.game_mode{
    margin: 0 auto;
    max-width: 60dvw;
    text-align: left;

    margin-top: 2rem;

    & h1{
        margin:1rem 0;
    }
    & h4{
        padding: 1rem 0;
    }
}
.cells_container{
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    max-height: 80dvh;
    gap: 1rem;

    overflow: scroll;
}

.number{
    height: 100px;
    background-color: orange;
}
